.menu-toggle {
    
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .indice ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #333;
    }

    .indice ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

/* Tabela responsiva */
table {
width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  box-shadow:  0 0 10px rgb(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #555;
    color: white;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

